*.gem
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
node_modules/
vendor/
*~
.#*
run_jekyll.sh
_config-devel.yml
Gemfile.local
Gemfile.remote
.DS_Store
._modules/week-99.md
week-99.md
